<form>
  <div class="form-title">
    <h2>Ajouter un nouvel étudiant à notre plateforme</h2>
  </div>  <div class="form-group">
    <label for="nomInput">Nom</label>
    <input type="text" id="nomInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="prenomInput">Prénom</label>
    <input type="text" id="prenomInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="dateInput">Date de naissance</label>
    <input type="date" id="dateInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="adresseInput">Adresse</label>
    <input type="text" id="adresseInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="specialiteInput">Spécialité</label>
    <input type="text" id="specialiteInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="emailpersonnelInput">Email personnel</label>
    <input type="email" id="emailpersonnelInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="emailprofessionnelleInput">Email professionnelle</label>
    <input type="email" id="emailprofessionnelleInput" class="form-control">
  </div>
  <div class="form-group">
    <label for="CVInput">CV</label>
    <input type="file" id="CVInput" class="form-control">
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>
</form>
