/* Styles pour le formulaire de candidature */
form {
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    padding: 20px; /* Ajouter un peu d'espace autour du formulaire */
    background-color: #f2f2f2; /* Couleur de fond */
    border-radius: 8px; /* Coins arrondis */
  }
  
  .form-title {
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espacement en bas du titre */
  }
  
  .form-group {
    margin-bottom: 20px; /* Espacement entre les groupes de champs */
  }
  
  label {
    display: block; /* Afficher les libellés sur une nouvelle ligne */
    margin-bottom: 5px; /* Espacement en bas du libellé */
  }
  
  input[type="id"],
  input[type="date"],
  mat-select {
    width: 100%; /* Largeur des champs de formulaire */
    padding: 10px; /* Espacement interne */
    font-size: 16px; /* Taille de police */
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid #ccc; /* Bordure */
    box-sizing: border-box; /* Box-sizing pour inclure la bordure dans la largeur/hauteur */
  }
  
  button[type="submit"] {
    width: 100%; /* Largeur du bouton */
    padding: 10px; /* Espacement interne */
    font-size: 16px; /* Taille de police */
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer au survol */
    transition: background-color 0.3s; /* Transition pour le changement de couleur au survol */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }
  
  /* Styles spécifiques pour mat-select */
  mat-form-field {
    width: 100%; /* Largeur du champ mat-form-field */
  }
  
  /* Redimensionner l'étiquette mat-label pour mieux s'adapter au texte */
  .mat-form-field-label {
    font-size: 14px;
  }
  
  /* Redimensionner la police des options du mat-select */
  .mat-option-text {
    font-size: 14px;
  }
   
  .form-title h2 {
    color: #007bff; 
  }
  