
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar-admin *ngIf="type=='admin'"></app-sidebar-admin>
        <app-sidebar-nouveau-etudiant *ngIf="type=='nouveauEtudiant'"></app-sidebar-nouveau-etudiant>
        <app-sidebar-ancien-etudiant *ngIf="type=='ancienEtudiant'"></app-sidebar-ancien-etudiant>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
