<form [formGroup]="utilisateurForm">
   
    <mat-form-field appearance="outline">
        <mat-label style="font-family: Trebuchet MS;">Adresse email</mat-label>
        <input matInput formControlName="email" required >
        <button mat-icon-button matSuffix  >
          <mat-icon>email</mat-icon>
        </button>
      </mat-form-field>
  
     
     
     
  
      <div class="buttons">
          <button class="buttonClose" mat-button (click)="onClose()" style="font-family: Trebuchet MS;">Cancel</button>
  <div></div>
        <button   class="buttonSubmit"  mat-raised-button (click)="onSubmit()" style="font-family: Trebuchet MS;">
         Valider
        </button>
      </div>
      <br>
      
    </form>